.App {
  text-align: center;
}

/* header {
  background-color: green;
  height: 10rem;
} */

main {
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100rem;
}

.viewer {
  background-color: white;
  opacity: 70%;
  width: 80rem;
  height: 80rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section h1 {
  font-family: 'Kanit', sans-serif;
  font-weight: 500;
  font-size: 2rem;
}

/* section p{
  font-weight: 300;
  font-style: italic;
  font-size: 1.25rem;
} */

.input {
  height: 3rem;
}

div input {
  height: 1rem;
}

div ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

ul {
  list-style-type: none;
}


button {
  background-color: #fff;
  color: black;
  /* font-size: 1rem; */
}

button:hover {
  color: black;
  background-color: white;
  /* font-size: 1rem; */
}

/* add media query break boint */
.forecast {
  display: flex;
  /* align-items: flex-start; */
  /* flex-wrap: nowrap; */
  /* white-space: nowrap; */
  /* background-color: lightblue; */
  border: .5px black solid;
  border-radius: 10px;
  overflow-x: auto;
  width:42rem;
  /* margin: 20rem; */
  /* height: 15rem; */
  /* flex-shrink: 0; */
}

.forecast-icons {
  background-color: lightslategray;
  display: flex;
  flex-direction: column;
  border: .5px solid black;
  border-radius: 10px;
  padding: .5rem;
  margin: .5rem;
}

.forecast-icons p {
  margin: 0;
}

.sun-times {
  /* background-color: red; */
  width: 30rem;
  display: flex;
  justify-content: center;
  padding: .5rem;
  margin-top: .5rem;
}

.sun-times h2 {
  margin: 0;
}

.sun-times div {
  display: flex;
  flex-direction: column;
  border: black solid .5px;
  border-radius: 10px;
  margin: 1rem; 
  margin-right: 4rem; 
  margin-left: 4rem; 
  padding: .5rem; 
}

.sun-times img {
  width: 5rem;
}

.cards{
  /* background-color: blue; */
  width: 30rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

article {
  /* background-color: red; */
  width: 10rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: .5rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  border: .5px solid black;
  border-radius: 10px;
}

article h4 {
  margin: 0;
}

article img {
  width: 4rem;
}
