html {
  background-color: #ebf2fa;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23427aa1' fill-opacity='0.28' fill-rule='evenodd'/%3E%3C/svg%3E")
}

.App {
  text-align: center;
}

/* header {
  background-color: green;
  height: 10rem;
} */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100rem;
  background-color: #ebf2fa;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23427aa1' fill-opacity='0.28' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.viewer {
  background-color: #EBF2FA;
  opacity: 100%;
  width: 60rem;
  height: 70rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5rem;
  margin-top: 0;
}

section h1 {
  font-family: 'Kanit', sans-serif;
  font-weight: 500;
  font-size: 3rem;
  margin: 5rem;
  padding: 0;
}

h2 {
  margin: .25rem;
}

.today {
  height: 11rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0 .5rem 0;
}

div input {
  height: 2rem;
  width: 22rem;
  font-size: 1.2rem;
  margin-top: 1rem;
  border-radius: 5px;
}

ul {
  list-style-type: none;
  padding: 0rem;
  margin: 0rem;
}

button {
  background-color: #EBF2FA;
  color: black;
  height: 2.4rem;
  width: 22rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

button:hover {
  color: #EBF2FA;
  background-color: black;
}

.search-button {
  color: black;
  box-shadow: 10px 5px 5px #427AA1;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  margin-top: 1rem;
  background-color: #EBF2FA;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bolder;
}

.search-button:hover {
  background-color: #064789;
  color: #fff;
  /* font-weight: 500; */
  display: flex;
  justify-content: center;
  border-radius: 5px;
  margin-top: 1rem;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bolder;
}

/* add media query break boint */
.forecast {
  display: flex;
  background-color: #427AA1;
  background-color: #064789;
  border: .5px black solid;
  border-radius: 10px;
  overflow-x: auto;
  width: 33.5rem;
}

/* conditional color */
.forecast-icons {
  /* background-color: lightslategray; */
  background-color: #EBF2FA;
  background-color: #b3cee0;
  display: flex;
  flex-direction: column;
  border: .5px solid black;
  border-radius: 10px;
  padding: .5rem;
  margin: .5rem;
}

.forecast-icons p {
  margin: 0;
}

.sun-times {
  width: 35rem;
  display: flex;
  justify-content: space-evenly;
  padding: .5rem;
  margin-top: .5rem;
  font-family: 'Kanit', sans-serif;
  /* background-color: #427AA1; */
}

.sun-times h2 {
  margin: 0;
  font-weight: 500;
  font-size: 1rem;
}

.sun-times div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  border: black solid .5px;
  border-radius: 10px;
  /* margin: .1rem;  */
  /* margin-right: 3rem; 
  margin-left: 3rem;  */
  padding: 1rem;
  height: 3.5rem;
  width: 10rem;
  font-family: 'Be Vietnam Pro', sans-serif;
}

.sun-times img {
  width: 2rem;
  /* padding: 1rem; */
}

.cards {
  width: 35rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-weight: 100;
  font-family: 'Be Vietnam Pro', sans-serif;
}

.card-div {
  font-family: 'Kanit', sans-serif;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 100;
  font-family: 'Be Vietnam Pro', sans-serif;
}

article {
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
  width: 10rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  background-color: #fff;
  border: .5px solid black;
  border-radius: 10px;
}

article h4 {
  margin: 0;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 1rem;
}

article img {
  width: 3rem;
  padding: .5rem;
}

span {
  font-weight: 300;
  font-weight: 300;
}

@media screen and (max-width: 850px) {

  html {
    /* background-color: #EBF2FA; */
    /* background-color: #ebf2fa; */
    /* background-color: red; */
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    margin: auto;
    background-color: red;
  }

  .App {
    background-color: green;
    height: 50rem;
    width: 100%;
  }

  body{
    width: 100%;
    /* background-color: red; */
  }
  main {
    /* background-color: #064789; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EBF2FA;
    height: 100%;
    width: 100%;
    /* margin-top: 10rem; */
    /* background-color: #427aa1; */
    margin: auto;
  }

  .viewer {
    background-color: #EBF2FA;
    border-radius: 24px;
    /* border: black solid 1px; */
    height: 100vh;
    width: 100%;
    margin: auto;
  }


  .viewer input {
    /* background-color: yellow; */
    border-radius: 10px;
    width: 11.5rem;
  }

  .search-button {
    width: 12rem;
    border-radius: 10px;
  }

  .search-button:hover {
    background-color: #064789;
    color: #EBF2FA;
    font-weight: bolder;
    border-radius: 10px;
  }

  .today {
    height: 10rem;
    border: none;
  }

  .forecast {
    width: 85%;
    height: 100px;
    background-color: whitesmoke;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    /* background-color: red; */
  }

  .forecast-icons {
    height: 40px;
  }

  .forecast img {
    width: 35px;
  }

  .sun-times {
    display: flex;
    justify-content: center;
  }

  .sun-times div {
    /* background-color: green; */
    width: 7rem;
    margin: .30rem;
  }

  .cards {
    /* background-color: floralwhite; */
    width: 20rem;
  }

  article {
    height: 8rem;
    width: 9rem;
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  article img {
    width: 2rem;
  }

  article h4 {
    font-size: .75rem;
  }

  article div {
    font-size: 1rem;

  }

  span {
    font-size: 1rem;
  }
}